@model SurveysAndConstituentsViewModel

@{
    var users = Model.users;
}

<h5 class="text-center">Tüm Anketler</h5>

<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        @await Component.InvokeAsync("ComboBox")
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Anket Başlığı
            </th>
            <th>
                Anket Açıklaması
            </th>
            <th>
                Oluşturulma Tarihi
            </th>
            <th>
                Aktiflik
            </th>           
            <th>
                Oluşturan Kullanıcı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.surveys)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explanation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>              
                <td>
                    @foreach (var user in users)
                    {
                        if (item.ConstituentId == user.Id)
                        {
                            @user.FirstName @: @user.LastName
                            break;
                        }
                    }
                </td>
                <td>
                    <a style="text-decoration:none; color:darkgoldenrod" href="@Url.Action("Detail", "Analysis", new { surveyId = item.Id })"><i style="color:darkgoldenrod" class="bi bi-bar-chart-fill"></i> Anket Detay </a>
                </td>
            </tr>
        }
    </tbody>
</table>
